name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  fmt:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      - run: cargo +nightly fmt --all --check
          
  test:
    runs-on: ubuntu-latest
    strategy:
        fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy

      - name: Cache Rust artifacts
        uses: Swatinem/rust-cache@v2

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential cmake libgmp-dev

      - name: Checkout OpenFHE
        uses: actions/checkout@v4
        with:
          repository: openfheorg/openfhe-development
          path: openfhe

      - name: Build OpenFHE
        run: |
          cd openfhe
          mkdir -p build && cd build
          cmake ..
          make -j"$(nproc)"
          sudo make install

      - name: Update dynamic linker cache
        run: |
          echo "/usr/local/lib" | sudo tee /etc/ld.so.conf.d/openfhe.conf
          sudo ldconfig

      - name: Verify OpenFHE installation
        run: ls -lah /usr/local/lib | grep OpenFHE

      - name: Run clippy memory
        run: cargo +nightly clippy --workspace --all-targets
        env:
          RUSTFLAGS: -A unused

      - name: Run clippy disk
        run: cargo +nightly clippy --workspace --all-targets --no-default-features --features disk
        env:
          RUSTFLAGS: -A unused

      - name: Run test
        run: cargo test
  
  ci-success:
    name: ci success
    runs-on: ubuntu-latest
    if: always()
    needs:
      - test
      - fmt
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}